.input {
  width: 100%;
  border: 1px solid #17202a;
  background-color: #ededed;
  color: #17202a !important;
  border-radius: 3px;
  font-family: "IBM Plex Serif", serif !important;
  font-size: 15px;
  font-weight: 400;
  height: 30px;
  padding: 10px;
  outline: none;
  transition: 250ms;
  margin-bottom: 24px;
}

.container-shadow {
  position: absolute;
  width: 950px;
  height: 550px;
  border-radius: 5px;
  border: 2px solid #17202a;
  background-color: #f6f6f6;
  margin-top: 20px;
  margin-left: 20px;
  z-index: -10;
}

.form-container {
  position: relative;
  max-width: 950px;
  height: 550px;
  border-radius: 5px !important;
  cursor: default;
  border: 2px solid #17202a;
  background-color: white;
  margin: auto !important;
}

.input:hover,
.input:focus {
  border: 1px solid #999999;
}

.description {
  min-height: 200px;
}

.button-send-email {
  width: 150px !important;
  height: 30px !important;
  font-family: "IBM Plex Serif", serif !important;
  font-weight: 500 !important;
  border: 1px solid #b6b6b6 !important;
  border-radius: 2px !important;
  text-decoration: none !important;
  text-align: center !important;
  color: #17202a !important;
  font-size: 17px !important;
  cursor: pointer !important;
  transition: 0.2s !important;
  user-select: none !important;
  margin: auto !important;
}

.button-send-email-container {
  width: 100% !important;
  height: 35px !important;
  display: flex !important;
  margin-top: 20px;
}

.button-send-email:hover {
  background-color: #f6f6f6 !important;
}

.button-send-email:active {
  box-shadow: inset 0px 0px 8px -2px rgba(89, 89, 89, 1) !important;
}

@media only screen and (max-width: 1280px) {
  .title-contact-box {
    width: 100% !important;
  }
  .title-contact-text {
    font-size: 25px !important;
    text-align: center !important;
  }
  .form-inputs-box {
    margin: 40px 45px 40px 20px !important;
  }
  .main-form-box {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
