.experience-box {
  background-color: #ededed !important;
  width: 100% !important;
  margin-top: 100px;
  padding: 50px 0;
}

.image-card-box-multishop {
  width: 188px !important;
  height: 68px !important;
  padding: 30px 20px 0;
}

.image-card-box-hamal{
  width: 212px !important;
  padding: 35px 32px 9px;
}

.context-experience{
  color: #8f8f8f !important;
  font-family: "IBM Plex Serif", serif !important;
  font-size: 20px !important;
  margin-top: 15px !important;
}

.date-container{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.logo-shadow {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid #17202a;
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-container {
  position: relative;
  max-width: 80px;
  height: 80px;
  border-radius: 3px !important;
  cursor: default;
  border: 1px solid #17202a;
  background-color: white;
  margin-bottom: 80px !important;
  text-align: center;
}

.icon {
  margin-top: 10px;
}

.icon-react {
  margin-top: 5px;
}

@media only screen and (max-width: 1280px) {
  .title-skills-box {
    width: 100% !important;
  }
  .title-skills-text {
    font-size: 25px !important;
    text-align: center !important;
  }
  .skills-logos-box {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
  }
  .logo-pack {
    display: flex !important;
    margin-bottom: 5px !important;
    padding-left: 10px !important;
  }
  .logo-right {
    margin-left: 40px !important;
  }
  .skills-box {
    width: 230px !important;
    margin: auto !important;
  }
}
