.icon {
  transition: 250ms;
  color: #17202a;
}

.icon:hover {
  color: #2b3e55;
}

.floating-icon {
  position: absolute;
  animation: float 6s ease-in-out infinite;
}

.node-icon {
  width: 50px;
  top: 100px;
  left: 500px;
}

.git-icon {
  width: 50px;
  top: 580px;
  left: 1180px;
}

.typescript-icon {
  width: 50px;
  top: 680px;
  left: 250px;
}

.react-icon {
  width: 50px;
  top: 130px;
  left: 1100px;
}

.next-icon {
  width: 50px;
  top: 1870px;
  left: 100px;
}

.github-icon {
  width: 50px;
  top: 2490px;
  left: 150px;
}

.vsc-icon {
  width: 50px;
  top: 2420px;
  left: 1220px;
}

.laravel-icon {
  width: 50px;
  top: 3720px;
  left: 1220px;
}

.jira-icon {
  width: 50px;
  top: 3620px;
  left: 100px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.main-box {
  margin-bottom: 280px;
  margin-left: 180px;
  margin-right: 180px;
}

.avatar-box {
  position: relative;
  margin-top: 120px;
}

.avatar {
  position: absolute;
  width: 400px !important;
  height: 400px !important;
  border-radius: 5px;
  z-index: 10;
  top: 0;
  left: 0;
}

.avatar-shadow {
  position: absolute;
  width: 400px !important;
  height: 400px !important;
  background-color: #ededed;
  border: 2px solid #17202a;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}

.about-box {
  text-align: left !important;
  margin-top: 160px;
}

.title-name {
  margin-bottom: 10px !important;
  font-size: 40px !important;
  color: #17202a !important;
  font-family: "IBM Plex Serif", serif !important;
  font-weight: 600 !important;
}

.title-profession {
  margin-bottom: 10px !important;
  font-size: 27px !important;
  color: #17202a !important;
  font-family: "IBM Plex Serif", serif !important;
  font-weight: 500 !important;
}

.text-about {
  margin-bottom: 10px !important;
  font-size: 20px !important;
  color: #8f8f8f !important;
  font-family: "IBM Plex Serif", serif !important;
  font-weight: normal !important;
}

.button-download {
  position: absolute !important;
  background-color: #17202a !important;
  color: white;
  border-radius: 2px !important;
  font-weight: bolder;
  text-transform: none !important;
  height: 45px !important;
  width: 184px !important;
  box-shadow: none !important;
}

.button-download:hover {
  background-color: #2b3e55 !important;
}

.button-download-text {
  font-family: "IBM Plex Serif", serif !important;
  margin: 0 10px !important;
  font-weight: 500 !important;
}

.button-download-shadow {
  position: absolute !important;
  height: 45px !important;
  width: 184px !important;
  border-radius: 2px !important;
  background-color: #ededed !important;
  border: 2px solid #17202a !important;
  margin-top: 9px !important;
  margin-left: 9px !important;
  z-index: -50;
}

@media only screen and (max-width: 1280px) {
  .title-name {
    font-size: 25px !important;
  }
  .avatar {
    width: 220px !important;
    height: 220px !important;
  }
  .avatar-box{
    margin-left: -100px !important;
  }
  .avatar-shadow{
    width: 220px !important;
    height: 220px !important;
  }
  .main-home-box-container{
    display: block !important;
  }
  .about-box{
    width: 300px !important;
    margin-top: 250px !important;
    margin-bottom: -40px !important;
    margin-left: -130px !important;
    text-align: center !important;
  }
  .social-media-icons{
    align-items: center !important;
    justify-content: center !important;
  }
  .button-download-container{
    position: absolute;
    margin-left: 55px !important;
  }
  .node-icon {
    width: 50px;
    top: 100px;
    left: 330px;
  }
  
  .git-icon {
    width: 50px;
    top: 850px;
    left: 310px;
  }
  
  .typescript-icon {
    width: 50px;
    top: 830px;
    left: 20px;
    z-index: -10;
  }
  
  .react-icon {
    width: 50px;
    top: 130px;
    left: 10px;
  }
  
  .next-icon {
    width: 40px;
    top: 1850px;
    left: 30px;
  }
  
  .github-icon {
    width: 40px;
    top: 3355px;
    left: 40px;
  }
  
  .vsc-icon {
    width: 50px;
    top: 3355px;
    left: 295px;
  }
  
  .laravel-icon {
    width: 40px;
    top: 4830px;
    left: 280px;
  }
  
  .jira-icon {
    width: 40px;
    top: 4830px;
    left: 30px;
  }
}
