.logo-shadow {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid #17202a;
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-left: 10px;
  z-index: -1;
}

.logo-container {
  position: relative;
  max-width: 80px;
  height: 80px;
  border-radius: 3px !important;
  cursor: default;
  border: 1px solid #17202a;
  background-color: white;
  margin-bottom: 80px !important;
  text-align: center;
}

.icon{
    margin-top: 10px;
}

.icon-react{
    margin-top: 5px;
}

@media only screen and (max-width: 1280px) {
  .title-skills-box {
    width: 100% !important;
  }
  .title-skills-text {
    font-size: 25px !important;
    text-align: center !important;
  }
  .skills-logos-box {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    padding: 0 !important;
  }
  .logo-pack {
    display: flex !important;
    margin-bottom: 5px !important;
  }
  .skills-box {
    width: 230px !important;
    margin: auto !important;
  }
  .logo-container, .logo-shadow{
    width: 80px !important;
  }
  .logo-shadow.logo-right{
    margin-left: 50px !important;
  }
}
